# Copy this file to .env and edit the values to match your setup.

# EMCLIENT_INDEX points to all of your mail_index.dat files. These are sqlite databases.
# You can use glob patterns '**' and '*'. See https://www.npmjs.com/package/glob for more.
EMCLIENT_INDEX='/path/to/eM Client/*/*/mail_index.dat'

# MY_EMAIL is your email address.
MY_EMAIL='me@example.com'

# RTM_EMAIL is the email address you use to send tasks to Remember The Milk. To locate it,
# log into RTM and go to Account Settings -> Email Tasks.
RTM_EMAIL='example+123456@rmilk.com'

# RTM_TASK_SETTINGS is the default settings for tasks sent to RTM. !3 means priority 3,
# and ^today means due today.
RTM_TASK_SETTINGS='!3 ^today'
